:root {
    --cldr-bg-color: #ffffff;
    --cldr-bar-color: #3B39D9;
    --cldr-bar-text-color: #ffffff;
    --cldr-month-n1-color: #f0efff;
    --cldr-month-n2-color: #f1f6e5;
    --cldr-month-n3-color: #fef5e7;
    --cldr-tooltip-bg-color: #f5e38c;
    --cldr-tooltip-bd-color: #c78d02;
    --cldr-tooltip-fg-color: #2a1718;
}

.calendar {
    background: var(--cldr-bg-color);
    display: grid;
    text-align: center;
}
.years {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    padding: 0.5rem;
}
.monthGrid {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(calc(var(--cldr-monthCount) * var(--cldr-mapPrecision, 10)), 1fr);
    grid-template-rows: max-content 1fr;
    column-gap: 1px;
}
.monthCells {
    grid-area: 1 / 1 / -1 / -1;
    display: grid;
    grid-template-columns: subgrid;
}
.monthCell {
    grid-column-end: span var(--cldr-mapPrecision, 10);
}
.monthCellGrid {
    padding: 0.25rem;
    
    &:is(
        :nth-child(36n+1),
        :nth-child(36n+2),
        :nth-child(36n+3),
        :nth-child(36n+4),
        :nth-child(36n+5),
        :nth-child(36n+6),
        :nth-child(36n+7),
        :nth-child(36n+8),
        :nth-child(36n+9),
        :nth-child(36n+10),
        :nth-child(36n+11),
        :nth-child(36n+12)
    ) {
        background-color: var(--cldr-month-n1-color);
    }
    &:is(
        :nth-child(36n+13),
        :nth-child(36n+14),
        :nth-child(36n+15),
        :nth-child(36n+16),
        :nth-child(36n+17),
        :nth-child(36n+18),
        :nth-child(36n+19),
        :nth-child(36n+20),
        :nth-child(36n+21),
        :nth-child(36n+22),
        :nth-child(36n+23),
        :nth-child(36n+24)
    ) {
        background-color: var(--cldr-month-n2-color);
    }
    &:is(
        :nth-child(36n+25),
        :nth-child(36n+26),
        :nth-child(36n+27),
        :nth-child(36n+28),
        :nth-child(36n+29),
        :nth-child(36n+30),
        :nth-child(36n+31),
        :nth-child(36n+32),
        :nth-child(36n+33),
        :nth-child(36n+34),
        :nth-child(36n+35),
        :nth-child(36n+36)
    ) {
        background-color: var(--cldr-month-n3-color);
    }
}
.monthLabels {
    grid-area: 1 / 1 / 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    border-block: solid 1px rgba(0, 0, 0, 0.25);
    padding: 0.25rem;
}
.monthGraphs {
    grid-area: 2 / 1 / 2 / -1;
    display: grid;
    grid-template-columns: subgrid;
    grid-auto-flow: row;
    row-gap: 0.5rem;
    padding-block: 1rem;
    // background-color: rgba(0,0,255, 0.25);
}
.monthRow {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
}
.monthChart {
    grid-column-start: var(--cldr-chartFrom, 0);
    grid-column-end: span var(--cldr-chartSpan, 1);
    background-color: var(--cldr-bar-color);
    color: var(--cldr-bar-text-color);
    align-self: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-block: 0.25rem;
    border-radius: 10rem;
    cursor: pointer;
    &:hover {
        filter: brightness(120%);
    }
}


.tooltipPortal {
    display: contents;
}
.tooltip {
    position: fixed;
    translate: -50% calc(-100% - 0.5rem);
    background-color: var(--cldr-tooltip-bg-color);
    border: solid 1px var(--cldr-tooltip-bd-color);
    color: var(--cldr-tooltip-fg-color);
    padding: 0.5rem;
    border-radius: 0.5rem;
    pointer-events: none;
    &>p {
        margin: 0;
        font-size: smaller;
    }
    &::before {
        content: "";
        display: block;
        background-color: inherit;
        border: inherit;
        border-inline-start: none;
        border-block-start: none;
        z-index: -1;
        inline-size: 0.75rem;
        block-size: 0.75rem;
        position: absolute;
        inset-block-start: 100%;
        inset-inline-start: 50%;
        translate: -50% -50%;
        rotate: 45deg;
    }
}
